@model List<Personel>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Default/Index.cshtml";
	int count = 0;
}

<div class="content">
	<div class="container-fluid">
		<br />
		<h4 class="page-title">Personel</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Personel Listesi</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							Personel ile ilgili işlemleri aşağıdaki panelden yapabilirsiniz.
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col"> Adi-Soyadi</th>
									<th scope="col"> Pozisyon</th>
									<th scope="col"> Telefon</th>
									<th scope="col"> EMail</th>
									<th scope="col"> Başlama Tarihi</th>
									

									<th scope="col">Sil</th>
									<th scope="col">Güncelle</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									count++;
									<tr>
										<td>@count</td>
										<td>@item.AdSoyad</td>
										<td>@item.Pozisyon</td>
										<td>@item.Telefon</td>
										<td>@item.Email</td>
										<td>@item.BaslamaTarihi</td>

										<td><a href="/Personel/DeletePersonel/@item.PersonelId" class="btn btn-danger">Sil</a></td>
										<td><a href="/Personel/UpdatePersonel/@item.PersonelId" class="btn btn-success">Güncelle</a></td>
									</tr>
								}
							</tbody>
						</table>
						<a href="/Personel/CreatePersonel/" class="btn btn-primary">Yeni Personel Girişi</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



